/* MainPage.css */
.main-page {
    padding: 20px;
    text-align: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #433D8B;
    color: #C8ACD6;
    width: 100%;
}

.site-name {
    font-size: 24px;
    color: #C8ACD6;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #C8ACD6;
    border-radius: 50%;
    color: #2E236C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.sign-out-button {
    background-color: #2E236C;
    color: #C8ACD6;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.page-title {
    color: #C8ACD6;
    margin-bottom: 20px; /* Added margin for visual separation */
}

.event-grid {
    display: flex;
    justify-content: center; /* Center align the events in the grid */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    gap: 20px; /* Ensures even spacing around each event */
}

.chatbot-icon {
    background-color: #433D8B;
    color: #C8ACD6;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-window {
    background-color: #2E236C;
    color: #C8ACD6;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.message-area {
    flex-grow: 1;
    overflow-y: auto;
}

.message-bubble {
    background-color: #C8ACD6;
    color: #2E236C;
    padding: 8px 12px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.input-area {
    display: flex;
    margin-top: auto;
}

.message-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #C8ACD6;
}

.send-button {
    padding: 8px 12px;
    background-color: #433D8B;
    color: #C8ACD6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
