/* SignInPage.css */
.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .logo {
    width: 150px; /* Adjust the size of the logo as needed */
    margin-bottom: 20px; /* Space between logo and greeting */
  }
  
  .greeting {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .signin-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }
  